/*--------------------------------------------------------------------*\ 

يحتوي هذا الملف على CSS الذي يتعامل مع النمط عبر الكتاب بأكمله.
استخدم الصفوف المحددة هنا للتحكم في مظهر عناصر HTML في مساهمتك.

إذا أضفت أنماطاً جديدة، تذكروا كيف تفعل كما هو موضح أدناه. 

الفهرس
  - النمط على جدول المحتويات
  - التصميم للفيديوهات المضمنة

\*--------------------------------------------------------------------*/ 

/*--------------------------------------------------------------------*\ 
النمط لجدول المحتويات 

- ضمان أن عناصر القائمة في جدول المحتويات كبيرة بما فيه الكفاية للقراء

\*--------------------------------------------------------------------*/ 

#site-navigation li > a {
  font-size: 1.1em;
}

/*--------------------------------------------------------------------*\

التصميم للفيديوهات المضمنة (إطار) 

- يضمن أن مقاطع الفيديو يمكن أن تغير الحجم لتلائم الشاشة التي يقرأ منها الكتاب.
- التأكد أيضا من أن الفيديوهات تتركز أفقيا.

\*--------------------------------------------------------------------*/ 

.فيديو-حاوية {
  المنصب النسبي؛
  padding-bottom: 56.25%;
  padding-top: 35px;
  الطول: 0؛
  overflow: hidden;
}

.video-container iframe {
  المنصب: مطلقة؛
  أعلى:0;
  اليسار: 0؛
  width: 100%;
  الطول: 100%؛
}

iframe {
  الهامش: أوتو؛
  عرض :block؛
}

/*--------------------------------------------------------------------*\

التهيئة للجداول

- تحسين نمط الجداول بالمقارنة مع معيار Markdown الافتراضي
- يضيف الحدود إلى الجداول، ويسمح بتسليط الضوء على الصفوف عند تكوينها

\*--------------------------------------------------------------------*/ 

th, td {
  الحدود: 1px صلب #999999 مهم; 
  text-align: center; 
  padding: 10px
}

الحدث:
  وزن الخط: عريضة؛ 
  الخلفية-اللون: #EEEEEEEE؛
}

وصف الجدول {
  اللون: أسود؛ 
  text-align: center;
}

شرح الجدول .الحاشية {
  اللون: #666666; 
  محاذاة النص: يسار؛ 
  حجم الخط: أصغر؛
}

tr:hover {
  الخلفية-اللون: #f7f7f7f7;
}
