/*--------------------------------------------------------------------*\ 

此文件包含 CSS 处理整个书的样式。
使用这里定义的类来控制您贡献中的 HTML 元素的外观。

如果您添加了新样式，请记住解释如下所示。 

索引
  - 目录样式
  - 嵌入式视频的样式

\*--------------------------------------------------------------------*/ 

/*--------------------------------------------------------------------*\ 
目录样式 

- 确保目录中的菜单项足够阅读器

\*--------------------------------------------------------------------*/ 

#site-navigation li > a {
  font-size: 1.1em;
}

/*--------------------------------------------------------------------*\

嵌入式视频(帧) 的样式 

- 确保视频可以调整大小以适应书读取的屏幕。
- 还确保横向检查视频。

\*--------------------------------------------------------------------*/ 

.video-container
  立场：相对；
  padding-bottom: 56.25%;
  padding-top: 35px;
  高度：0；
  overflow: hidden;
}

.video-container iframe
  立场：绝对不变；
  顶部：0；
  左：0；
  width: 100%;
  高度：100%；
}

iframe {
  边距：自动；
  显示 :block;
}

/*--------------------------------------------------------------------*\

表格样式

- 在默认Markdown 标准上提高表格样式
- 在表格中添加边框，并允许悬停时高亮显示行

\*--------------------------------------------------------------------*/ 

th, td {
  边界: 1px soly #999999 !important; 
  text-align: center; 
  padding: 10px
}

英雄省
  字体重：粗体； 
  背景颜色： #EEEEE;
}

表格标题*
  颜色：黑色； 
  text-align: center;
}

表格标题.脚注。
  颜色： #66666666； 
  文本对齐：左； 
  字体大小：小；
}

tr:hover {
  背景颜色： #f7f7f7;
}
