/*--------------------------------------------------------------------*\ 

このファイルには、本全体でスタイルを扱うCSSが含まれています。
ここで定義されたクラスを使用して、コントリビューション内の HTML 要素の外観を制御します。

新しいスタイルを追加する場合は、以下のように説明します。 

目次と索引
  - 目次のスタイル
  - 埋め込み動画のスタイル

\*--------------------------------------------------------------------*/ 

/*--------------------------------------------------------------------*\ 
目次のスタイル 

- 目次内のメニュー項目が読者にとって十分な大きさであることを保証します

\*--------------------------------------------------------------------*/ 

#site-navigation li > a {
  font-size: 1.1em;
}

/*--------------------------------------------------------------------*\

埋め込み動画のスタイル設定(iframes) 

- 本が読まれる画面に合わせて動画のサイズを変更できるようにします。
- 動画が水平方向に中央に配置されることも保証します。

\*--------------------------------------------------------------------*/ 

.video-container {
  位置:相対的;
  padding-bottom: 56.25%;
  padding-top: 35px;
  高さ: 0;
  overflow: hidden;
}

.video-container iframe {
  位置: 絶対;
  トップ:0;
  左:0;
  width: 100%;
  高さ: 100%;
}

iframe {
  マージン:自動;
  display:block;
}

/*--------------------------------------------------------------------*\

表のスタイル

- デフォルトのMarkdown標準で表のスタイルを改善します
- 表に外枠を追加し、ホバー時に行をハイライト表示させることができます。

\*--------------------------------------------------------------------*/ 

th, td {
  border: 1px solid #999999 !important; 
  text-align: center; 
  padding: 10px
}

th {
  font-weight: 太字; 
  background-color: #EEEEEE;
}

テーブルキャプション{
  color: black; 
  text-align: center;
}

テーブルキャプション.footnote {
  color: #6666666; 
  text-align: left; 
  font-size: 小さい;
}

tr:hover {
  background-color: #f7f7f7;
}
